* {
    background-color: #8a9a58;
}

main {
    margin: 20vh;    
    border: 2px solid black;
    border-radius: 8px;
    height: 60vh;
    text-align: center;
}

aside {
    display: flex;
    justify-content: flex-start;
}

#answers {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

#answers button {
    margin: 5px;
    background-color: turquoise;
}

#answers button:hover {
    background-color: teal;
    color: whitesmoke;
}

#answers button:active {
    background-color: teal;
    color: whitesmoke;
    box-shadow: inset;
}

#answers button:focus {
    background-color: teal;
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#quiz-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

aside {
    float: right;
    padding: 2%;
}

footer {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-top: 25%;
    padding-bottom: 1%;
}

#start-button,
.option,
.nav-btn,
#high-scores-btn {
    background-color: turquoise;
}

#start-button:hover,
.option:hover,
.nav-btn:hover,
#high-scores-btn:hover {
    background-color: teal;
    color: whitesmoke;
}

#start-button:active,
.option:active,
.nav-btn:active,
#high-scores-btn:active {
    background-color: teal;
    color: whitesmoke;
    box-shadow: inset;
}

#start-button:focus,
.option:focus,
.nav-btn:focus,
#high-scores-btn:focus {
    background-color: teal;
    color: whitesmoke;
}